* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;

  font-family: 'Lato', sans-serif;

  user-select: none;
  list-style: none;
}

header {
  height: 100px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header img{
  width: 64px;
  height: 64px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(62, 61, 61);

  width: 100vw;
  height: 100vh;

  padding: 50px 25px;

  overflow: hidden;
}

.album{
  color: white;
  background: black;
  padding: 20px;
  margin: 10px;
}
.album img{
  width: 150px;
  height: 300px;
}
.album p{
  text-align: center;
  line-height: 1.3rem;
}